{{#if inhabitants_statistics}}
  <table class='table'>
    <tbody>
      {{#each inhabitants_statistics}}
        <tr>
          <th class='span4'>{{type.value}}</th>
          <td class='span2 numeric'>{{cnt.value}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <ul style="list-style-type: none">
    <li class='update_env_attr'><button data-meo-id='MEO_0000005'>Update Attributes MEO_0000005</button></li>
    <li class='update_env_attr'><button data-meo-id='MEO_0000006'>Update Attributes MEO_0000006</button></li>
    <li class='update_env_attr'><button data-meo-id='MEO_0000007'>Update Attributes MEO_0000007</button></li>
  </ul>

{{else}}
  <div>
    No data
  </div>
{{/if}}
